
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    min-height: 100vh;
    background-color: linear-gradient(135deg,rgb(30, 44, 57), #0d1b2a);
    scroll-behavior: smooth;
}



